/* 1.Custom Preloader*/








/* 1.Custom Preloader*/

body.preloader-running{
    overflow: hidden;
}
div#preloader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#status  {
     width: 200px;
     height: 200px;
     position: fixed;
     left: 50%;
     top: 50%;
     background-repeat: no-repeat;
     background-position: center center;
     margin: -100px 0 0 -100px;
     z-index: 100000;
 }
 #status img{
     margin: 0 auto;
 }
